APP_ENV=dev

BACKEND_PORT=8080
BACKEND_HOST_PORT=8085
CORS_ALLOWED_ORIGINS=http://localhost:3000

FFMPEG_BINARY=ffmpeg
EXPORT_FONT_PATHS=./Roboto-Regular.ttf
EXPORT_TEMP_DIR=
EXPORT_POLL_INTERVAL_MS=500

NEXT_PUBLIC_EXPORT_API_URL=http://localhost:8085
NEXT_PUBLIC_EXPORT_POLL_INTERVAL_MS=500
